/*顶部区域*/
.top{
    height: 60px;
    width: 100%;
    /*background-color: orange;*/
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.top .top_in{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    /*background-color: tomato;*/
}

.top .top_left{
    float: left;
    height: 100%;
    width: 190px;
    /*background-color: skyblue;*/
}

.top .top_left>h1{
    width: 100%;
    height: 100%;
}

.top .top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-logo.png");
}

.top .top_right{
    float: right;
    height: 100%;
    width: 740px;
    /*background-color: skyblue;*/
}

.top .top_nav{
    float: left;
    width: 550px;
    height: 100%;
    /*background-color: salmon;*/
}

.top .top_nav>li{
    float: left;
}

.top .top_nav>li>a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    margin-left: 40px;
}

/*.top .top_nav>li>a:hover{*/
/*    color: #e82c07;*/
/*}*/

.top ul>li>a:hover{
    color: #e82c07;
}

.top .top_login{
    float: right;
    width: 150px;
    height: 100%;
    /*background-color: salmon;*/
}

.top .top_login>li{
    float: right;
    line-height: 60px;
    margin-left: 10px;
}

.top .top_login>li:nth-child(3){
    width: 30px;
    height: 30px;
    background: url("../images/nubia-syb-all.png");
    margin-top: 15px;
}

.top .top_login>li>a{
    color: #ccc;
}

/*.top .top_login>li>a:hover{*/
/*    color: #e82c07;*/
/*}*/



/*广告区域*/
.banner{
    height: 860px;
    width: 100%;
    padding-top: 60px;
    /*background-color: pink;*/
}

.banner .nav_out{
    width: 100%;
    height: 121px;
    position: absolute;
    z-index: 5;
    background-color: white;
}

.banner .nav{
    width: 1200px;
    height: 121px;
    margin: 0 auto;
    /*background-color: purple;*/
}

.banner .nav>ul{
    width: 100%;
    height: 100%;
    /*background-color: deeppink;*/
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
}

.banner .nav>ul>li{
    float: left;
    width: 150px;
    height: 100%;
    /*background-color: orange;*/
    text-align: center;
}

    /*只要加了边框/padding,盒子会变大*/
.banner .nav>ul>li:hover{
    border-bottom: 2px solid red;
    box-sizing: border-box;
}

.banner .nav>ul>li img{
    width: 120px;
    height: 80px;
    margin-top: 15px;
}

.banner .nav>ul>li p{
    color: #666;
}

.banner .figure{
    width: 100%;
    height: 600px;
    /*background-color: skyblue;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-top: 60px;
}

    /*如果图片的宽度大于父元素的宽度,不能通过单独使用"text-align: center;"或者"margin: 0 auto;"让图片居中*/
    /*如果图片的宽度大于父元素的宽度,可以通过使用定位流让图片居中,但是定位流的弊端也比较明显,分别是:需要写三行代码("position:absolute;" "left:50%" "margin-left:-'图片宽度的一半'px;"),必须知道图片的宽度*/
    /*如果图片的宽度大于父元素的宽度,可以通过使用"margin:0 -100%;"让图片居中,但是父元素必须设置"text-align: center;"*/
.banner .figure>img{
    height: 100%;
    /*margin: 0 auto;*/
    margin: 0 -100%;
}

.banner .figure>ol{
    width: 150px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 10px;
    /*background-color: salmon;*/
}

    /*transparent透明色*/
.banner .figure>ol>li{
    float: left;
    width: 8px;
    height: 8px;
    background-color: #ccc;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 1s;
}

.banner .figure>ol>li:hover{
    border: 2px solid red;
    background-color: transparent;
    transform: scale(1.2,1.2);
}

.banner .video{
    width: 1200px;
    height: 250px;
    /*margin: 0 auto;*/
    /*margin-top: 10px;*/
    margin: 10px auto 0 auto;
    /*background-color: tomato;*/
}

.banner .video>ul{
    width: 100%;
    height: 100%;
    /*background-color: orange;*/
    display: flex;
    justify-content: space-between;
}

.banner .video>ul>li{
    float: left;
    width: 396px;
    height: 250px;
    background-color: black;
    /*margin-left: 3px;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .video>ul>li>img{
    height: 100%;
    margin: 0 -100%;
}

.banner .video>ul>li:hover>img{
    opacity: 0.5;
}

    /*"opacity: 0;"作用:设置元素的透明度 特点:子元素也会跟着透明*/
.banner .video .video_info{
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.banner .video>ul>li:hover .video_info{
    opacity: 1;
}

.banner .video>ul>li:hover .video_info>img{
    animation: sport 2s 0.5s ease-in-out infinite;
}

@keyframes sport {
    20%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(0.9);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

.banner .video .video_info>h3{
    font-size: 16px;
    color: white;
    line-height: 40px;
}

.banner .video .video_info>p{
    color: white;
}



/*内容区域*/
.content{
    height: 1883px;
    width: 100%;
    /*background-color: skyblue;*/
    padding-top: 60px;
}

.content>dl{
    width: 1200px;
    height: 100%;
    /*background-color: deeppink;*/
    margin: 0 auto;
    overflow: hidden;
}

.content>dl>dt{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.content>dl>dt>h3{
    font-size: 35px;
    color: #333;
}

.content>dl>dt>p{
    margin-top: 20px;
    color: #e8340e;
}

.content .content_phone{
    width: 1200px;
    height: 1200px;
    /*background-color: pink;*/
}

.content .content_phone>li{
    float: left;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.content .content_phone>li:nth-child(1){
    width: 1200px;
    height: 395px;
    /*background-color: tomato;*/
    margin-bottom: 10px;
}

.content .content_phone>li:nth-child(2){
    width: 395px;
    height: 795px;
    /*background-color: salmon;*/
    margin-right: 10px;
}

.content .content_phone>li:nth-child(3){
    width: 795px;
    height: 390px;
    /*background-color: coral;*/
    margin-bottom: 10px;
}

.content .content_phone>li:nth-child(4){
    width: 390px;
    height: 395px;
    /*background-color: darkorange;*/
    margin-right: 10px;
}

.content .content_phone>li:nth-child(5){
    width: 395px;
    height: 395px;
    /*background-color: chocolate;*/
}

.content .content_phone>li>img{
    width: 100%;
    transition: all 1s;
}

.content .content_phone>li:nth-child(1)>img{
    margin-top: 60px;
    margin-left: -50px;
}

.content .content_phone>li:nth-child(1):hover img{
    margin-left: 0;
}

.content .content_phone>li:nth-child(3)>img{
    margin-left: 100px;
}

.content .content_phone>li:nth-child(3):hover img{
    margin-left: 0;
}

.content .content_phone>li:hover .img_scale{
    transform: scale(1.2,1.2);
}

.content .content_phone .phone_des{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    text-align: center;
}

.content .content_phone .phone_des>h4{
    font-size: 20px;
    color: #000;
}

.content .content_phone .phone_des>p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
}

.content .content_phone .phone_des>span{
    display: inline-block;
    width: 108px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000;
}

    /*因为有覆盖关系,所以对"li:nth-child(1) .phone_des"的单独设置不能写在前面*/
    /*因为前面设置了"left:50%;",所以在"li:nth-child(1) .phone_des"中设置"left:0;"清除*/
.content .content_phone>li:nth-child(1) .phone_des{
    left: 0;
    margin-left: 800px;
    bottom: 150px;
}

.content .content_accessories{
    width: 1200px;
    height: 300px;
    /*background-color: orange;*/
    display: flex;
    justify-content: space-between;
}

.content .content_accessories>li{
    float: left;
    width: 295px;
    height: 300px;
    /*background-color: chocolate;*/
    /*margin-right: 5px;*/
    background-color: white;
    overflow: hidden;
}

.content .content_accessories>li>img{
    width: 100%;
    transition: all 0.5s;
}

.content .content_accessories>li:hover img{
    transform: scale(1.2,1.2);
}

.content .content_accessories>li>p{
    text-align: center;
    margin-top: 25px;
}



/*底部区域*/
.footer{
    height: 396px;
    width: 100%;
    /*background-color: tomato;*/
    background-color: #fff;
    overflow: hidden;
}

.footer .footer_in{
    width: 1200px;
    height: 356px;
    /*background-color: skyblue;*/
    /*margin: 0 auto;*/
    /*margin-top: 40px;*/
    margin: 40px auto 0 auto;
    border-top: 1px solid #ccc;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.footer .footer_top{
    margin-top: 20px;
}

.footer .footer_middle{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.footer .footer_middle>dl{
    float: left;
    width: 200px;
}

.footer .footer_middle>dl>dt{
    font-size: 14px;
    color: #000;
    line-height: 30px;
}

.footer .footer_middle>dl>dd{
    line-height: 20px;
}

.footer .footer_middle>dl>dd>a{
    color: #999;
}

.footer .footer_bottom{
    margin-top: 20px;
}

.footer .footer_copyright{
    float: left;
    padding-top: 7px;
    box-sizing: border-box;
}

.footer .footer_copyright>li{
    float: left;
}

.footer .footer_copyright>li>a{
    font-size: 10px;
    padding: 0 10px;
    color: #999;
}

.footer .footer_copyright>li:nth-child(1) a{
    padding-left:0;
}

.footer .footer_copyright>li:hover a{
    color: #000;
}

.footer .footer_social{
    float: right;
    font-size: 20px;
}

    /*企业开发中如果是左浮动, 那么就不要设置左边的margin*/
.footer .footer_social>li{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    /*background-color: salmon;*/
    background: url("../images/nubia-syb-all.png") no-repeat;
}

.footer .footer_info{
    padding-top: 50px;
}